<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.felipe.app_solemne">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appsolemne"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ActivityConfigSensor"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".OpinionMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".RecomendacionMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".EditorialMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".PaisMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".ReclamoMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".ReservaMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriaMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".AutorMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".LibroMantenedorActivity"
            android:exported="false" />
        <activity
            android:name=".BookMantenedor"
            android:exported="false" />
        <activity
            android:name=".ReservationListActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>